// GLOBAL VARIABLES - include your variables here or alter the predefined vars

// link vars
$linkColor: #007bc0;	
$linkHoverColor: #008bda;														
$linkDecoration: none;	
$linkHoverDecoration: underline;					

//bb Colors
$bb_blue: #007bc8;
$bb_purple: #566DD2;
$bb_olive: #637D29;
$bb_pink: #842a3e;
$bb_red: #DC3737;
$bb_yellow: #FFCB1A;
$bb_teal: #407D93;
$bb_grass: #637D29;
$bb_grey_dark: #222222;
$bb_grey_medium: #8b8b8b;
$bb_grey_light: #F2F2F2;
$bb_black: #000000;

$footer_lg_height:320px;
$footer_md_height:320px;
$footer_sm_height:450px;
$footer_xs_height:620px;

$bar_lg_padding:70px;
$bar_md_padding:60px;
$bar_sm_padding:40px;
$bar_xs_padding:20px;